/* Home.css */

.home {
    background-color: #ffffff; /* White background */
    padding: 20px;
    text-align: center;
}

/* Welcome message styling */
.welcome-message {
    color: #16006f; /* Color for the welcome message */
    font-size: 50px; /* Font size for the welcome message */
    text-align: center; /* Text alignment for the welcome message */
    margin-top: 50px;
    margin-left: -1000px;
}

/* Styles for the large buttons */
.btn-large {
    background-color: #ffffff; /* Background for buttons */
    color: #06003c; /* Text color for buttons */
    margin-top: 4px; /* Margin for spacing above buttons */
}

/* Hover effect for the large buttons */
.btn-large:hover {
    background-color: #007bff; /* Darker blue for hover effect */
    color: #ffffff; /* Text color for buttons */
}

/* Styles for the row containing the buttons */
.row {
    background-color: #ffffff; /* Background for the row */
    padding: 10px; /* Padding for spacing if needed */
}

.logo {
    position: relative;
    float: left;
    top: -40px;
    left: 1px;
    width: 200px; /* adjust as needed */
    height: auto;
}
