html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav {
    align-items: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #0056b388; 
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.active {
  color: #dde !important;
  background-color: #0056b3AA;
  text-decoration: underline;
}

a:hover {
  color: #000 !important;
  background-color: #85bcff;
  cursor: pointer; 
}


